//- Main template
extends ../../global.pug

block header
  .wrapper
    h2 Button
    h4 A very simple helper to generate links and buttons.

block main
  article.wrapper
    section
      h3: code +button(options:Object)
      
      h4 Options

      h5: code text: String
      p: strong optional
      p The main text for the button.
      
      h5: code sr_text: String
      p: strong optional
      p The screen reader version of the text.

      h5: code tag: String
      p: strong optional
      p: strong default: button
      p The tag to render the element.

      h4 Usage
      pre
        code.
          Simple
          +button({ text: 'Learn more' })

          Screen reader
          +button({ text: 'Learn more', sr_text: 'Learn more about our bootstrap' })

          As an anchor tag
          +button({ text: 'Learn more', tag: 'a' })(href=`${LOCALE_ROOT}/home/`)