@import "../style-utils/grid";

// The following $gutter-width-small variable lives in this file—rather than
// the grid utils file—becuase it is just a "quick" variable that doesn't
// technically have any association with a grid (because there's no grid on small).
// Having this variable here just reduces the amount of generated CSS—the
// alternative being to call our add-grid-row and add-grid-column funtions for
// small as well—which is overkill.
$gutter-width-small: 16px;

body::after {
  background: #fff;
  bottom: 0px;
  content: "S";
  display: none;
  font-size: 1.6rem;
  padding: 10px;
  position: fixed;
  right: 0px;
  z-index: 1;
}

body[data-env="development"]::after {
  display: block;
}

.wrapper,
.row {
  margin: 0 auto;
  max-width: $row-width;
  width: 100%;
}

.wrapper {
  padding-left: $gutter-width-small;
  padding-right: $gutter-width-small;
}

.row,
.column {
  padding-left: $gutter-width-small / 2;
  padding-right: $gutter-width-small / 2;
}

.column--deep {
  padding-left: 0;
  padding-right: 0;
}

@media #{$medium-up} {
  body::after {
    content: "M";
  }

  .wrapper {
    padding-left: $gutter-width;
    padding-right: $gutter-width;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;

    .row {
      margin-left: $gutter-width / 2 * -1;
      width: calc(100% + #{$gutter-width});
    }
  }

  .column {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }

  @include add-grid-row;
  @include add-grid-columns;
}

@media #{$large-up} {
  body::after {
    content: "L";
  }

  @include add-grid-row(large);
  @include add-grid-columns(large);
}

@media #{$xlarge-up} {
  body::after {
    content: "XL";
  }

  @include add-grid-row(xlarge);
  @include add-grid-columns(xlarge);
}

@media #{$xxlarge-up} {
  body::after {
    content: "XXL";
  }

  @include add-grid-row(xxlarge);
  @include add-grid-columns(xxlarge);
}
