@import "~wtc-modal-view";

.modal-includes {
  display: none;
}

.modal {
  z-index: 10000;
}

.modal__overlay {
  background-color: rgba(black, 0.8);
}

.modal__wrapper {
  max-height: 100%;
  max-width: 758px;
  overflow: auto;
  padding: 0;
}

.modal__close {
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 26px;
  top: 26px;
  z-index: 1;
}
