@import "../../scss/helpers";

.skippers {
  @include vertical-center();

  height: 0;
  overflow: hidden;

  &:focus-within {
    height: auto;
  }
}

.skippers__item {
  &:hover,
  &:focus {
    opacity: 1;
  }

  .icon {
    margin-left: 10px;
  }
}
