doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1"
    )
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(
      name="description",
      content="Qui amet nostrud irure ut do minim laborum eu voluptate Lorem."
    )
    title sweet-potato

    link(rel="stylesheet", href="./index.css")

  body

    main
      != page.content

    script(type="module", src="./index.js")
