:root {
  --color-body: #272726;
}

@import "https://unpkg.com/modern-normalize@1.0.0/modern-normalize.css";
@import "https://cdn.skypack.dev/wtc-barfystars/dist/wtc-barfystars.css";
@import "../components/navigation/navigation";

body {
  color: var(--color-body);
}

.grid {
  display: grid;
  grid-template-columns: 1.9fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: "main-content main-navigation";
  margin: 0px auto;
  max-width: 900px;
}

.main-content {
  grid-area: main-content;
}
.main-navigation {
  grid-area: main-navigation;
}

header {
  background: #fff;
  position: sticky;
  top: 0;
}
