//- Main template
extends ../../global.pug

//- Styles
append styles
  //- change this to whatever page stylesheet you need:
  +stylesheet({ filename: 'home' })

//- Header
block header
  .row
    .column.column--12
      h1!= locale.header.page_title
      p!= locale.header.header_copy
