//- Main template
extends ../../global.pug

//- Styles
append styles
  +stylesheet({ filename: 'grid' })

block header
  .wrapper
    h1 Grid
    h4 How to use our grid classes and breakpoints.

block main
  article.wrapper
    header
      h2 Settings
      p All of the settings used to generate the grid.
      p <strong>Location:</strong> <code>/src/components/grid/_grid-settings.scss</code>
    section
      p Feel free to tweak all of these values but don't change any of the generator functions. There is a warning on the file where those are suposed to be left alone.
      p The name of the variables are pretty self explanatory.
      p ⚠️ The breakpoint variables are generated from the range variables.
      pre
        code.
          $column-gutter: 16px;
          $row-width: 1144px;
          $total-columns: 12;

          $small-range: (25em, 39.9375em); // 639px
          $medium-range: (40em, 63.9375em); // 1023px
          $large-range: (64em, 71.4375em); // 1143px
          $xlarge-range: (71.5em, 89.9375em); // 1439px
          $xxlarge-range: (120em, 99999999em);
  
  article
    header.wrapper
      h2 The Grid
      p With the settings in place and grid generated, it's time to use the classes.
      p <strong>Location:</strong> <code>/src/components/grid/grid.scss</code>
    section 
      .wrapper
        h3 Wrappers
        p Wrapper are used to create a row that don't have any columns
        
        h4 Usage
        pre
          code.
            .wrapper
              h1 Reprehenderit
              p Aute consectetur aute consectetur non ipsum magna esse ea. Labore 

        hr

        h3 Rows
        p ⚠️ You <strong>HAVE</strong> to use a row anytime you need columns.
        p Nested rows required a modifier class <code>.row--deep</code>.
        p To remove extra padding from columns and allow for them to sit flush to one another - we can add the modifier class <code>.row--gutterless</code> to the parent row.
        
        h4 Usage
        pre
          code.
            .row.row--gutterless
              .column
                p Aute consectetur aute consectetur non ipsum magna esse ea.
              .column
                p Aute consectetur aute consectetur non ipsum magna esse ea.
              .column
                p Aute consectetur aute consectetur non ipsum magna esse ea.
                .row.row.row--deep
                  .column
                    p Nested row and columns
                  .column.column--6
                    p Nested row and columns
        hr

        h3 Columns
        p Columns are flexible by default. They will expand to fill the space available.
        
        h4 Usage
        pre
          code.
            .row
              .column
                p Aute consectetur aute consectetur non ipsum magna esse ea.
              .column
                p Aute consectetur aute consectetur non ipsum magna esse ea.
        
        hr

        h3 Breakpoints
        p These can be used anywhere on the website, just gotta remember to import the <em>grid settings</em>.
        p Notice how we start from mobile and we use the breakpoints as the viewport grows, not the other way around.
        p <strong>TLDR'</strong> <u>MOBILE FIRST</u>.
        
        h4 Available breakpoints
        pre
          code.
            $small-up
            $small-only
            $medium-up
            $medium-only
            $large-up
            $large-only
            $xlarge-up
            $xlarge-only
            $xxlarge-up
            $xxlarge-only
        
        h4 Usage
        pre
          code.
            @import './include/grid/grid-settings';

            .my-div {
              background-color: red;

              @media \#{$medium-up} {
                background-color: yellow;
              }

              @media \#{$large-up} {
                background-color: green;
              }

              @media \#{$xlarge-up} {
                background-color: black;
              }
            }
        
        h2 Full example
        p All of the column options

      .full-usage
        .row.row--wrap
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
          .column.column--1
            p 1 column
        
        .row
          .column.column--2
            p 2 columns
          .column.column--3
            p 3 columns
          .column.column--4
            p 4 columns
          .column.column--3
            p 3 columns
        
        .row
          .column.column--5
            p 5 columns
          .column.column--6
            p 6 columns
          .column.column--1
            p 1 column
        
        .row
          .column.column--7
            p 7 columns
          .column.column--5
            p 5 columns
        
        .row
          .column.column--8
            p 8 columns
          .column.column--4
            p 4 columns
        
        .row
          .column.column--9
            p 9 columns
          .column.column--3
            p 3 columns
        
        .row
          .column.column--10
            p 10 columns
          .column.column--2
            p 2 columns
        
        .row
          .column.column--11
            p 11 columns
          .column.column--1
            p 1 columns
        
        .wrapper
          h4 Responsive
        .row
          .column.column--6.column-large--4
            p 6 columns medium and 4 columns large+
          .column.column--6.column-large--4
            p 6 columns medium and 4 columns large+

        .wrapper
          h4 Nesting
        .row
          .column.column--8
            p 8 columns
            .row.row--deep.row--vertical-center
              .column.column--6
                p 6 columns nested
              .column.column--6
                p 6 columns nested
          .column.column--4
            p 4 columns
        
        .wrapper
          h4 Flexible centered
        .row
          .column.column--4
            p 4 columns
          .column.column--4
            p 4 columns
        
        .wrapper
          h4 Flexible vertical centered
        .row.row--vertical-center
          .column.column--2
            p Lorem ipsum dolor sit amet
          .column.column--4
            p 4 columns

        .wrapper
          h4 Gutterless Columns
        .row.row--gutterless
          .column.column--6
            p Lorem ipsum dolor sit amet
          .column.column--6
            p 4 columns