.feature {
  margin-bottom: 1rem;
}

.feature__wrapper {
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px rgba(black, 0.4);
  padding: 10px;
}

.feature__cta {
  margin-top: 10px;
}

.feature__description {
  a {
    text-decoration: underline;

    &:hover {
      color: var(--color-gold);
    }
  }
}

main {
  section {
    margin-top: 2rem;
  }
}
