@import "../../../components/vp/vp-helpers";

.helpers-usage {
  display: flex;
  justify-content: center;
  padding: 15vw 0;

  p {
    font-size: 4rem;
    transform: scale(0) rotate(0deg);
    transition: transform 1s ease;

    @include vp-animate {
      transform: scale(1) rotate(360deg);
    }
  }
}
