//-
  GALLERY
  -------
  Creates a gallery component, using WTC Gallery library
  (https://github.com/wethegit/wtc-gallery-component).

  Usage
  +gallery
    for item in [1, 2, 3, 4, 5]
      +gallery-item
        p Gallery item #{item}

mixin gallery()
  .gallery(data-controller="Gallery")&attributes(attributes)
    ul
      if block
        block
    
    .gallery__nav-markup.gallery__nav-markup--prev
      span.visually-hidden=locale.gallery.previous
      span(aria-hidden="true") &lt;
    
    .gallery__nav-markup.gallery__nav-markup--next
      span.visually-hidden=locale.gallery.next
      span(aria-hidden="true") &gt;
      
mixin gallery-item()
  li&attributes(attributes)
    if block
      block