html {
  font-family: var(--font-body);
  font-size: calc(var(--font-base) * 1px);
  font-weight: 400;
  line-height: 1.5;
}

body {
  @include font-smoothing(on);
}

p,
ul,
ol {
  list-style: none;
  margin: 0 0 0.5em 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 3px; // Firefox only, for now
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
.title-1,
h2,
.title-2,
h3,
.title-3,
h4,
.title-4,
h5,
.title-5 {
  @include font-heading();

  line-height: 1.1;
  margin: 1em 0 0.5em 0;
}

h1,
.title-1 {
  font-size: base-rem(30);

  @media #{$large-up} {
    font-size: base-rem(50);
  }
}

h2,
.title-2 {
  font-size: base-rem(28);

  @media #{$large-up} {
    font-size: base-rem(44);
  }
}

h3,
.title-3 {
  font-size: base-rem(24);

  @media #{$large-up} {
    font-size: base-rem(30);
  }
}

h4,
.title-4 h5,
.title-5 {
  font-size: base-rem(15);

  @media #{$medium-up} {
    font-size: base-rem(18);
  }

  @media #{$large-up} {
    font-size: base-rem(20);
  }
}
