// Size
.txt-body {
  font-size: 1rem;
}

.txt-body-smaller {
  font-size: base-rem(12);

  @media #{$large-up} {
    font-size: base-rem(14);
  }
}

.txt-body-larger {
  font-size: base-rem(20);

  @media #{$large-up} {
    font-size: base-rem(22);
  }
}

// Weight
.txt-weight-normal {
  font-weight: 400;
}

.txt-weight-bold {
  font-weight: 700;
}

// Layout
.txt-block {
  display: block;
}

.txt-center {
  text-align: center;
}

.txt-nobreak {
  white-space: nowrap;
}

// Style
.txt-uppercase {
  text-transform: uppercase;
}

.txt-dark-on-light {
  @include font-smoothing(off);
}

.txt-light-on-dark {
  @include font-smoothing(on);
}

@each $color, $hex in $colors {
  .txt-color-#{$color} {
    color: var(--color-#{$color});
  }
}
