.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.medium-up,
.medium-only,
.large-up,
.xlarge-up {
  display: none;
}

@media #{$medium-up} {
  .medium-up {
    display: block;
  }

  .small-only {
    display: none;
  }
}

@media #{$medium-only} {
  .medium-only {
    display: block;
  }
}

@media #{$large-up} {
  .large-up {
    display: block;
  }
}

@media #{$xlarge-up} {
  .xlarge-up {
    display: block;
  }
}
