doctype html
html(lang=(globals.localeKey === 'default' ? 'en-US' : globals.localeKey))
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    
    meta(name="description" content="Your first Sweet Potato project!")
    title Sweet Potato
    
    link(rel="stylesheet" href="./global.css")
  body
    code
      pre!=JSON.stringify(globals, null, 2)
      
    h1!=page.title