.button {
  --button-bg-hover: #dda9b4;
  --button-bg: #e08b98;

  background-color: var(--button-bg);
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease;

  &:hover,
  &:focus {
    background-color: var(--button-bg-hover);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  .icon {
    margin-left: 10px;
  }
}

.button--silver {
  --button-inactive: #7d7d7d;
  --button-hover: #e4e4e4;
}
