//- Main template
extends ../../global.pug

block header
  .wrapper
    h1 Skippers
    h4 The skippers appear at the very top of the website and are only visible with focus.

block main
  article.wrapper
    header
      p Use this component to add more skip buttons to the website.      
    section
      p ⚠️ By default this is included in <code>main-nav.pug</code> and <strong>MUST BE INCLUDED ONLY ONCE</strong> on the website.
      p When you include this file it also includes the <code>block skippers</code> so you can add as many buttons as you want.
      p <strong>Location:</strong> <code>/src/skippers/skippers.pug</code> 
      h4 Usage
      pre
        code.
          include ./reduce-motion/reduce-motion.pug

          append skippers
            a(href="#sidebar").skippers__item
              span Skip to sidebar